*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Inter';
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 100vh;
    background: #d9c8e3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    /*background: #887394;*/
    background-image: url("../assets/kitty.jpeg");
    padding: 1em;
    border-radius: 20px;
    background-size: cover;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), -5px -5px 15px rgba(0, 0, 0,0.2);
    background: #0a0a0a;
    opacity: 0.5;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 0.5em;
}
.form__wrapper{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.form__wrapper .input__wrapper{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
.buttom__wrapper .equal{
    width: 145px;
}

form input.opetator{
    color:#414042;
}
